@import url("./assets/css/fonts.css");

body {
  font-family: "Jost", sans-serif;
  color: #1a1817;
  font-size: 18px;
  font-weight: 400;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 21px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
  padding: 10px;
  color: #1f1d1cc6;
}
h4 {
  color: #ee161e;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.header {
  background-color: #fafafa;
  position: sticky;
  top: 0.1px;
  display: flex;
  margin-top: 10px;
}
.logo img {
  cursor: pointer;
  width: 100px;
  margin-right: 30px;
}
.characters-button,
.comics-button,
.favorite-character-button {
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px solid gray;
  background-color: white;
  margin: 0 10px;
  padding: 0 10px;
}
.character-list,
.character-info,
.character-cv {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  border: 1px solid gray;
  background-color: white;
  margin: 0 10px 10px 0;
}
.character-cv {
  width: 700px;
  margin: 20px 0;
}
.character-list:hover,
.character-info:hover,
.character-cv:hover,
.characters-button:hover,
.comics-button:hover,
.favorite-character-button:hover {
  cursor: pointer;
  box-shadow: 0 1px 25px 3px #ede6ed;
}
.favorite-hover:hover {
  cursor: default;
}
.pointer {
  cursor: pointer;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search {
  background-color: #fafafa;
  position: sticky;
  top: 43.1px;
  margin: 10px 0;
}
input {
  font-size: 15px;
  padding-left: 10px;
  margin-left: 10px;
  width: 190px;
  height: 22px;
  border: 1px solid black;
}
.page {
  background-color: #fafafa;
  position: sticky;
  top: 67.1px;
  cursor: pointer;
  text-align: center;
}
.loading {
  color: #1f1d1cc6;
  margin: 300px 0;
  text-align: center;
}
.footer {
  text-align: center;
}
.footer a:hover {
  color: #ee161e;
}
.footer a {
  font-weight: 700;
  text-decoration: inherit;
  color: inherit;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .header {
    justify-content: center;
  }
  .logo img {
    margin: 10px 1px 0 1px;
    width: 40px;
  }
  .characters-button,
  .comics-button,
  .favorite-character-button {
    width: 90px;
    margin: 0 1px;
  }
  .container {
    width: 100%;
  }
  .search {
    display: flex;
    justify-content: center;
    top: 35.1px;
  }
  input {
    font-size: 12px;
    width: 130px;
    height: 20px;
    padding-right: 10px;
    margin-left: 5px;
  }
  h1 {
    font-size: 17px;
  }
  h2 {
    font-size: 16px;
    overflow: hidden;
  }
  h3 {
    font-size: 9px;
    overflow: hidden;
  }
  .character-list,
  .character-info,
  .character-cv {
    overflow: hidden;
    width: 150px;
    height: 297px;
  }
  .loading {
    margin: 275px 0;
  }
}
